body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(/img/fondo\ pagina.png);
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#171717;
    width: 95%;
    height: 10em;
}
.logo-pequeño{
    object-fit: cover;
    background-color: red;
    height: 100%;
    width: 15%;
}
.logo-pequeño >img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.navegador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:black;
    width: 95%;
    height: 4em;
}
.linkeado{
    font-family: 'Timer New Roman';
    text-align: center;
    text-decoration: none;  
    padding: 25px;
    color: white;
}
.navegador a:hover{
    background-color: white;
    color: black;
}
.banner{
    display: flex;
    background-color: blue;
    width: 95%;
    height: 19em;
}
.banner-foto{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.contenedor-noticias{
    display: flex;
    background-color: #555555;
    width: 95%;
    height: 35em;
}
.contenedores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    width: 50%;
    height: 100%;
    background-color: #555555;
}
.noticia{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
    background-color: blue;
}
.foto-noticia-cont{
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50%;
}
.img-noti{
    width: 100%;
    height: 100%;
}
.parrafo-noti-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    background-color:#757575;
}
.parrafo-noti-cont p{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
}

.asides{
    object-fit: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 50%;
    padding: 1rem;
    margin: 1rem;
}
.foto-asides{
    width: 50%;
    height: 90%;
}
.parrafo-asides{
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}
.caja-foto{
    width: 40%;
    height: 100%;
    background-color: #B2B2B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.escrito{
    width: 60%;
    height: 100%;
    background-color:#B2B2B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foto-samsung{
    object-fit: cover;
    height: 80%;
    width: 95%;
}
.texto-samsung{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 20px;
}
.noticia-grande{
    display: flex;
    background-color:#B2B2B2;
    width: 95%;
    height: 30em;
}
.contenedor-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #747474;
    width: 95%;
    height: 15em;
}
.redes{
    display: flex;
    object-fit: cover;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  #747474;
}
.redes p{
    width: 80%;
    display: flex;
    font-size: 20px;
}
.caja-redes{
    display: flex;
    object-fit: cover;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #747474;
}
.img-redes{
    object-fit: cover;
    width:30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    background-color: black;
    height: 4em;
    color: white;
}